<img class="font" src="../assets/images/font/game.PNG" alt="font">
<div class="base">
  <div class="rect">
    <div class="inv">
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
      <div class="item_base">
        <app-items></app-items>
      </div>
    </div>
  </div>
</div> 